@use 'base/variables' as v;

$padding-bottom-values: 0, 4, 8, 12, 16;

@each $value in $padding-bottom-values {
	.padding-bottom-#{$value} {
	  padding-bottom: $value + px;
	}
  }
  
.text-center {
	text-align: center;
}
.bg-white {
	background-color: v.$blanco;
}

.margin-negativo-10 {
	margin-top: -10rem;
}